h1 {
  text-align: center;
  margin-top: 30px;
}

h2 {
  text-align: center;
}

.group-std {
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px lightgray solid;
}

.languages h3 {
  text-align: center;
}

#ruby, #python, #rust, #swift, #history {
  display:  none;
}